h1 {
    color: blue;
    font-family: 'Lobster';
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel, .carousel-inner > .item > img {
height: 100px;
}