<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bandas</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="p-3 mb-2 bg-dark text-white">

<div class="container-bg">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img src="https://pbs.twimg.com/profile_banners/1422107150/1684611640/1500x500" alt="" width="100%">
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/registrar">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lista">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bandas">Bandas y artistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/galeria">Galeria</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<h1 class="text-center">Bandas y artistas</h1>
<br>


<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://scontent.feoh4-3.fna.fbcdn.net/v/t39.30808-6/290439282_547186906951436_3042568253671005556_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=i5XlmfEL6J8AX8zGdRT&_nc_ht=scontent.feoh4-3.fna&oh=00_AfDvHZK9xSZha2WEwEivzlWm-5E2FRJa9kWI-wFpjMvqKw&oe=6475E4E2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicio Públiko</h5>
          <p class="card-text">Ska y Reggae</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://scontent.feoh4-4.fna.fbcdn.net/v/t39.30808-6/347824833_1202006507147509_3664021837440642303_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=E-CWJmMrVakAX8SbeJI&_nc_oc=AQlH4r0JnmWuvJRu2bHITUGm2FGIMMm0W5hU-DEs5Zmejm0DFFlQ6UvfdyFgyX4Pc-tt2s0Kj_lIxHME6p6VzSSl&_nc_ht=scontent.feoh4-4.fna&oh=00_AfCBIRBblGu4q0Xj4SSyQS_F9Z2MmCLS99T6SAdCUkJJZw&oe=6476A744" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">La Cordillera</h5>
          <p class="card-text">Ska y Reggae</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://scontent.feoh4-3.fna.fbcdn.net/v/t39.30808-6/263489215_4605136829523318_1083020708992057207_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a26aad&_nc_ohc=j4qRfblrmYUAX98Vp5s&_nc_ht=scontent.feoh4-3.fna&oh=00_AfDyrkVJAbv__zqZTjbQfEf-gqBwvsfu-TnDIlNo_6M1nQ&oe=64766875" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Echo Selector</h5>
          <p class="card-text">Ska y Reggae</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://f4.bcbits.com/img/0020083646_10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ana Gartner</h5>
          <p class="card-text">Electrónica y Alternativa</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://i.discogs.com/Gx3hdPLYs0KzYKAW1rb9mRr9K7lWFPuwspfRNPxpnqY/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTY4MzM5/OTEtMTU0MzE4MTcx/NC0yODAzLnBuZw.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Los Malkavian</h5>
          <p class="card-text">Punk</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://scontent.feoh4-4.fna.fbcdn.net/v/t39.30808-6/334967801_1229880330967400_8844883008251506055_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=ak9P-yn12RkAX_fautG&_nc_ht=scontent.feoh4-4.fna&oh=00_AfBPdpuCkA32Y8vGI1sN1jIebWpauag2_YwmlBG3-gzf3A&oe=647659CF" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jota-Hache</h5>
          <p class="card-text">Rap</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>



<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">Altavoz</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores cum dolorem esse exercitationem fuga iusto laboriosam libero maxime necessitatibus, nihil non pariatur provident reprehenderit sint tempora temporibus tenetur ullam!</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">Redes Sociales</h3>
        <p>
          <i class="fab fa-facebook mr-3"></i>
          <a href="#" class="text-white" style="text-decoration: none;">Facebook</a>
        </p>
        <p>
          <i class="fab fa-twitter mr-3"></i>
          <a href="#" class="text-white" style="text-decoration: none;">Twitter</a>
        </p>
        <p>
          <i class="fab fa-instagram mr-3"></i>
          <a href="#" class="text-white" style="text-decoration: none;">Instagram</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">Links de interes</h3>
        <p>
          <a href="#" class="text-white" style="text-decoration: none;">Alcaldia Medellin</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h3 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h3>
        <p>
          <i class="fas fa-home mr-3"></i> Medellin, Antioquia, Col.
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> altavoz@gmail.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> +57 3111111111
        </p>
        <p>
          <i class="fas fa-print mr-3"></i> 604 2222222
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>